<div id="<%= dom_id alpha_blog %>" style="position: relative; left : 5pc; width : 30pc;">
  <p>
    <strong>Title:</strong>
    <%= alpha_blog.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= alpha_blog.description %>
  </p>

</div>
