<p style="color: green"><%= notice %></p>

<h1>Alpha blogs</h1>

<div id="alpha_blogs">
  <% @alpha_blogs.each do |alpha_blog| %>
    <%= render alpha_blog %>
    <p>
      <%= link_to "Show this alpha blog", alpha_blog %>
    </p>
  <% end %>
</div>

<%= link_to "New alpha blog", new_alpha_blog_path %>
