<h1 style="color: red"> New alpha blog</h1>

<%= render "form", alpha_blog: @alpha_blog %>

<br>

<div style="position: relative; left : 5pc; width : 30pc;">
  <%= link_to "Back to alpha blogs", alpha_blogs_path %>
</div>
