<h1 style="position : realtive; left : 20pc; width : 30pc; color : red;"> Create new account </h1>

<%= render "form", user: @user , class: "btn btn-outline-success" %>

<br>

<div style="position : relative; left : 5pc; width : 30pc;">
  <%= link_to "Back to users", users_path , class: "btn btn-outline-danger "%>
</div>
