<p style="color: green"><%= notice %></p>

<h1 style="color : red; position : relative ; left : 5pc"> Users</h1>

<div style="position : relative; left : 15pc; width : 30pc;">
    <%= render @user %>
    <div style="position : relative; top : 2pc; left : 10pc;">
        <% if logged_in? && @user == current_user %>
            <%= link_to "Edit profile", edit_user_path(@user), class: "btn btn-outline-info" %>
        <% end %>

        <% if logged_in? %>
            <%= link_to "Logout", logout_path, class: "btn btn-outline-success", method: :delete %>
        <% end %>
    </div>
</div>





