<h1 style="color : red; position: relative; left : 15pc; top : 2pc;">New category</h1>

<div style="position: relative; top : 5pc; left : 15pc; width : 30pc;">
  <%= render "form", category: @category %>
</div>


<br>

<div style="position: relative; top : 6pc; left : 15pc;">
  <%= link_to "Back to categories", categories_path, class: "btn btn-outline-danger btn-md" %>
</div>

<div style="position: relative; top : 8pc; left : 26pc;">
  <%= link_to '[ Back to Post ]', alpha_blogs_path, class: "text-info" %>
</div>
