

<div style="position : relative; left : 5pc; width : 30pc; font-size : x-large; top : 15pc; color : red"> Welcome AlphaBlog community </div>
<div style="position : relative; left : 10pc; width : 30pc; top : 18pc;">
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-md" %>
    <%= link_to "My credentials! ", users_path, class: "btn btn-success btn-info" %>
</div>